.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px gray;
}

.container img {
  width: 150px;
}

.container nav a {
  margin: 10px;
  font-size: 18px;
  transition: 0.3s ease-in;
  font-weight: bold;
}

.container a:hover {
  color: #1aa78e;
}
