.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.container h2 {
  margin: 10px 20px;
}

.container img {
  width: auto;
  height: 150px;
}

.username {
  color: #fcaf01;
}

@media (max-width: 1200px) {
  .listContainer {
    display: flex;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .listContainer {
    display: flex;
  }

  .container {
    min-width: 100%;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .listContainer {
    display: flex;
    flex-direction: column;
  }

  .container {
    min-width: 100%;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
