.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-bottom: 1px solid #bbbbbb;
  width: 100%;
}

.container:last-child {
  border-bottom: none;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.iconContainer i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fcaf01;
  background-color: #e4e4e4;
  width: 35px;
  height: 35px;
}

.contact {
  margin: 5px 0 20px 20px;
  color: #1aa78e;
}

@media (max-width: 1200px) {
  .container {
    border-right: 1px solid #bbbbbb;
    padding: 0 10px;
    border-bottom: none;
  }

  .container:last-child {
    border-right: none;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .container {
    border-bottom: 1px solid #bbbbbb;
    padding: 0 10px;
  }
}
