.container {
  display: flex;
  justify-content: space-between;
}

.containerLeft {
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  padding: 60px 40px;
  border-radius: 5px;
  width: 80%;
}

.rightContainer {
  max-width: 230px;
}
